<div class = 'container col-lg-12' style='background-color: #42548E; padding: 20px 30px; font-family: Verdana, Geneva, Tahoma, sans-serif;'>
    <!-- "SEÇÃO DE BEM VINDO"-->
    <div class = 'row' style = 'padding: 20px 30px;'>
        <h1 style = 'margin-right: 30px;'>Olá, bem vindo ao seu Brello!</h1>
        <h1>:)</h1>
    </div>

    <!-- "SEÇÂO READ DE TODOS"-->
    <div class = 'row' style = 'padding: 20px 30px; margin-top: 30px;'>
        <div>
            <h3>Que atividades você fará hoje? </h3>
            <!-- Se pa uma imagem ou ícone do emoji pensativo-->
        </div>
    </div>
    <!-- LEGENDA DA LISTA -->
    <div class =  'col-lg-10' style = 'padding: 20px 30px; margin-top: 30px; background-color: seagreen;'>
        <div class = 'row' style = 'background-color: purple;'>
            <p class = 'text-center' style = 'background-color: red; margin-right: 15px; width: 525px;'>Atividades</p>
            <p class = 'text-center' style = 'background-color: red; margin-right: 15px; width: 200px;'>Duração</p>
            <p class = 'text-center' style = 'background-color: red; width: 200px;'>Horário</p>
        </div>

        <!-- ITENS DA LISTA -->
        <% data.forEach((todo) => { %>
            <div class = 'row' style = 'background-color: purple; margin-top: 10px;'>
                <a href ='<%- todo.id %>' class = 'text-center' style = 'background-color: red; margin-right: 15px; width: 525px; color: white; text-decoration: none;'><%- todo.atividade %></a>
                <p class = 'text-center' style = 'background-color: red; margin-right: 15px; width: 200px;'><%- todo.duracao %></p>
                <p class = 'text-center' style = 'background-color: red; margin-right: 15px; width: 200px;'><%- todo.horario %></p>
                <button class='btn' style='background-color: green; margin-right: 15px;'>V Concluir</button>
                <button class='btn' onclick = "deleteToDO('<%- todo.id %>')" style='background-color: red;'>X Excluir</button>
            </div>
        <% }) %>
    </div>

    <!-- INPUT DE TODOS, ficará aqui por enquanto -->
    <div class = 'row' style = 'padding: 20px 30px; margin-top: 50px;'>
        <div>
            <h3>Insira uma nova atividade</h3>
            <!-- Se pa uma imagem ou ícone de emoji-->
        </div>
    </div>
    <div class = 'col-lg-8' style = 'padding: 20px 30px; margin-top: 30px; background-color: seagreen;'>
        <form method="POST">
            <div class = 'row'>
                <label style = 'margin: 0px 10px;'>Atividade ou Evento: </label>
                <input type='text' name='atividade' required style='height: 25px;' placeholder='Fazer café da manhã'>
                <label style = 'margin: 0px 10px;'>Duração: </label>
                <input type='text' name='duracao' required style='height: 25px;' placeholder='30 minutos'>
                <label style = 'margin: 0px 10px;'>Horário: </label>
                <input type='datetime-local' name='horario' required style='height: 25px; margin-right: -10px;' value="2019-01-01T00:00">
                <label style = 'margin: 10px 10px;'>Descrição: </label>
                <textarea name='descricao' style = 'height: 100px; width: 100%; margin: 10px 50px;' rows='5' cols='33'></textarea>
                <button class='btn' style='background-color: rgb(157, 225, 246); margin: 10px 10px -10px 30px;'>Adicionar</button>
            </div>
        </form>
    </div>
</div>

<script>
    function deleteToDO(id){
        fetch(`http://localhost:8000/`, {
            method: 'DELETE'
        })
        return location.reload('/')
    }
</script>