<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6170A1; margin: -40px -60px 40px -60px;">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/"><h4>Menu</h4><span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home"><h4>Página Principal</h4></a>
            </li>
        </ul>
    </div>
</nav>
<div class = 'container col-lg-12'>
    <div class = 'row'>
        <h2 style='text-transform: capitalize;'>Bem vindo <%- user %>!</h2>
    </div>

    <!-- INPUT DE ToDos -->
    <div class = 'row col-lg-9'' style='margin-top: 20px;'>
       <div class = 'row'>
           <h3 style = 'width: 100%;'>Crie um novo ToDo! <i class="fas fa-lightbulb"></i></i></h3>
           <h5  style= 'margin-bottom: 20px;'>Insira os dados da sua nova atividade abaixo</h5>
       </div>
       <form method="POST">
           <div class = 'row'>
               <label>Atividade ou Evento: </label>
               <input type='text' name='atividade' required style='margin: 0px 10px; height: 25px; border-radius: 7px;' placeholder='Fazer café da manhã'>
               <label>Duração: </label>
               <input type='text' name='duracao' style='margin: 0px 10px; height: 25px; border-radius: 7px;' placeholder='30 minutos'>
               <label>Horário: </label>
               <input type='datetime-local' name='horario' style='margin: 0px 10px; height: 25px; border-radius: 7px;'>
           </div>
           <div class = 'row' style='margin-top: 10px;'>
               <label>Descrição: </label>
               <textarea name='descricao' style = 'margin: 0px 10px; width: 90%; border-radius: 7px;' rows='5' cols='33'></textarea>
           </div>
           <button class='btn' style='background-color: #30364C; margin-top: 20px;'><i class="fas fa-plus-circle"></i> Criar</button>
       </form>
    </div>
    <!-- LEGENDA DA LISTA -->
    <div class =  'row col-lg-10' style = 'margin-top: 40px;'>
        <div class = 'row'>
            <h3 style = 'width: 100%;'>Que atividades você fará hoje? <i class="fas fa-list"></i></i></h3>
            <h5 style='margin-bottom: 20px;'>Veja a baixo suas atividades já criadas</h5>
        </div>
        <div class = 'row'>
            <p class = 'text-center' style = 'background-color: #36405F; border-radius: 7px; margin-right: 15px; width: 525px;'>Atividades</p>
            <p class = 'text-center' style = 'background-color: #36405F; border-radius: 7px; margin-right: 15px; width: 200px;'>Duração</p>
            <p class = 'text-center' style = 'background-color: #36405F; border-radius: 7px; width: 200px; margin-right: 15px;'>Horário</p>
            <p style = 'width: 112px; background-color: #36405F; border-radius: 7px;'></p>
        </div>

        <!-- ITENS DA LISTA -->
        <% data.forEach((item) => { %>
            <div class = 'row' style = 'margin-top: 10px;'>
                <p class = 'text-center' style = 'background-color: #6170A1; border-radius: 7px; margin-right: 15px; width: 525px;'><%- item.atividade %></p>
                <p class = 'text-center' style = 'text-transform: capitalize; background-color: #6170A1; border-radius: 7px; margin-right: 15px; width: 200px;'><%- item.duracao %></p>
                <p class = 'text-center' style = 'background-color: #6170A1; border-radius: 7px; margin-right: 15px; width: 200px;'><%- item.horario %></p>
                <a href = '/<%- item.id %>' class = 'btn' style='background-color: #6170A1; margin-top: -7px; margin-bottom: 7px; border-radius: 7px;'><i class="fas fa-search"></i> Detalhes</a>
            </div>
        <% }) %>
    </div>
</div>