<div class = 'container col-lg-12'>
    <!-- CABEÇALHO -->
    <div class = 'row'>
        <h3>Detalhes da atividade</h3>
        <!-- Se pa uma imagem ou ícone de emoji-->
    </div>

    <!-- Disposição das informações -->
    <div class = 'row' style = 'margin-top: 30px;'>
        <p style = 'width: 100%;'><strong>Nome da atividade:</strong> <%- data.atividade %></p>
        <p style = 'margin-right: 5px;'><strong>Duração da atividade:</strong> <p style = 'text-transform: capitalize; margin-right: 20px;'><%- data.duracao %></p></p>
        <p><strong>Horário e data da atividade:</strong> <%- data.horario %></p>
        <p style = 'width: 100%; margin-bottom: 20px;'><strong>Descrição da atividade:</strong> <%- data.descricao %> </p>
    </div>

    <!-- update de status do todo-->
    <div class = 'row' style='margin-top: 20px;'>
        <a class='btn' href='/home' style = 'background-color: #30364C; margin-right: 10px;'><i class="fas fa-undo"></i> Voltar</a><!-- /home/:user -->
        <a class='btn' href='/edit/<%- data.id %>' style = 'background-color: #3E4280; margin-right: 10px;'><i class="fas fa-edit"></i> Editar</a>
        <button class='btn' onclick = "deleteToDo('<%- data.id %>')" style = 'background-color: rgb(158, 6, 6);'><i class="fas fa-trash-alt"></i> Excluir</button>
    </div>
</div>

<script>
    function deleteToDo(id){
        fetch(`http://localhost:8000/${id}`, {
            method: 'DELETE'
        })
        return location.replace('/home')
    }
</script>